h1 {
    color:darkgoldenrod;
}

h2 {
    color:darksalmon;
}

h3 {
    color:cadetblue;
}

.top-bar {
    background-color:lightseagreen;
    display: flex;
    justify-content: space-around ;
    align-items: center;   
}

.top-bar--brand-logo {
    width: 150px;
    height: 150px;
}

.top-bar--right-logo {
    width: 10vw;
    height: auto;
}

article {
    padding: 55px 55px;
    font-family: 'Verdana';
    font-size: 14px;
    color: darkgoldenrod;
    background-color: lightblue;
}

.post {
    padding: 70px 70px;
    font-family: 'Verdana';
    font-size: 14px;
    color:cornflowerblue;
    background-color:wheat;  
}

.low-bar {
    background-color:lightseagreen;
    display: flex;
    justify-content: space-around ;
    align-items: center;  
}

.low-bar--brand-logo {
    width: 150px;
    height: 150px;
}

.low-bar--right-logo {
    width: 10vw;
    height: auto;
}

a {
    color: darkblue;
}

.links {
    list-style-type: none;
}

